<article class="col-4 mb-2">
    <div class="card text-center">
        <img src="/img/{{fruta}}.png" alt="" class="card-img-top">
        <div class="card-body">
            <p class="lead text-capitalize">{{fruta}}</p>
            <button type="button" class="btn btn-primary" data-fruta="{{fruta}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Agregar
            </button>
        </div>
    </div>
</article>